/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/styles/VideoGrid.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
/* components/VideoGrid.module.css */

.VideoGrid_gridContainer__jvLeq {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
  
  .VideoGrid_videoWrapper__WmnQN {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    border-radius: 8px;
    border: 4px solid white;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .VideoGrid_videoWrapper__WmnQN:hover {
    transform: scale(1.05);
    z-index: 10;
  }
  
  .VideoGrid_video__JhxVs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
